### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# convert to database and look at data
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# review the data types in columns
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
# Rename the SN column to Total Players and identify the total number of unique players
playerdata_df = purchase_data_df.rename(columns={"SN": "Total_Players"})
Total_Players = playerdata_df.groupby("Total_Players")["Total_Players"].nunique()
Total_Players.count()
tp_count = Total_Players.count()

In [5]:
#Create a new data frame referencing the total number of unique players
total_players_df = pd.DataFrame({
    "Total Players":[Total_Players.count()]})
total_players_df

   Total Players
0            576

In [6]:
#Identify the number of unique Item IDs in the data set
unique_items = purchase_data_df.groupby("Item ID")["Item ID"].nunique()
unique = unique_items.count()

#Calculate the total number of purchases
purchases = purchase_data_df["Purchase ID"].count()

#Calculate the total revenue
total_revenue = purchase_data_df["Price"].sum()


# Calculate the average price of the items from the total revenue and number of purchase
average_price = ((total_revenue)/(purchases))

In [7]:
#Create a new dictionary with purchasing analysis
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[unique],
    "Average Price":[average_price], 
    "Number of Purchases":[purchases], 
    "Total Revenue":[total_revenue]})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
#Clean the formatting of the database
#file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Clean data so that only unique players are present 
x = playerdata_df.duplicated(['Total_Players', 'Gender'])
playerdata_df.loc[x, ['Total_Players', 'Gender']] = ''
playerdata_df.tail()

,Purchase ID,Total_Players,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,,21,,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,,24,,50,Dawn,4.60

In [10]:
#Filter data by gender
Male = playerdata_df.loc[playerdata_df["Gender"] == "Male"]
Male_Total = Male.count()

Female = playerdata_df.loc[playerdata_df["Gender"] == "Female"]
Female_Total = Female.count()

Other = playerdata_df.loc[playerdata_df["Gender"] == "Other / Non-Disclosed"]
Other_Total = Other.count()

Gender = Male_Total + Female_Total + Other_Total
Gender

Purchase ID      576
Total_Players    576
Age              576
Gender           576
Item ID          576
Item Name        576
Price            576
dtype: int64

In [11]:
male_percent = ((Male_Total)/(Gender)*100).map("{:,.2f}%".format)
female_percent = ((Female_Total)/(Gender)*100).map("{:,.2f}%".format)
other_percent = ((Other_Total)/(Gender)*100).map("{:,.2f}%".format)

In [12]:
gender_analysis_df = pd.DataFrame({
    "" : ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count":[Male_Total, Female_Total, Other_Total],
    "Percentage of Players":[male_percent, female_percent, other_percent]})

gender_analysis_df

,,Total Count,Percentage of Players
0,Male,Purchase ID 484 Total_Players 484 Age ...,Purchase ID 84.03% Total_Players 84.03...
1,Female,Purchase ID 81 Total_Players 81 Age ...,Purchase ID 14.06% Total_Players 14.06...
2,Other / Non-Disclosed,Purchase ID 11 Total_Players 11 Age ...,Purchase ID 1.91% Total_Players 1.91% ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Find the Purchase Count
purchase_df = purchase_data_df.groupby(["Gender"])
purchase_count = purchase_df["Purchase ID"].count()
purchase_count

#state_duration = grouped_usa_df["duration (seconds)"].sum()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
#Find the Average Purchase Price
purchase_price = purchase_df["Price"].sum()
avg_purchase_price = ((purchase_price)/(purchase_count)).map("${:,.2f}".format)
avg_purchase_price

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
dtype: object

In [15]:
#Find the Total Purchase Value
purchase_value = purchase_df["Price"].sum()
total_purchase_value = purchase_value.map("${:,.2f}".format)
total_purchase_value

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
Name: Price, dtype: object

In [16]:
#Find purchase per person
#Avg_PPP = (purchase_value)/(tp_count)
#Avg_PPP
#Avg Total Purchase per Person

In [17]:
#construct Database
Purchase_Analysis_Gender = pd.DataFrame({
    "Purchase Count" : [purchase_count],
    "Average Purchase Price":[avg_purchase_price],
    "Total Purchase Value":[total_purchase_value],
    "Avg Total Purchase per Person": ["n/a"]})

Purchase_Analysis_Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender Female 113 Male ...,Gender Female $3.20 Male ...,Gender Female $361.94 Male...,n/a

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
#Establish bins for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

playerdata_df["Player Group"] = pd.cut(playerdata_df["Age"], bins, labels=labels, include_lowest=True)
playerdata_df

,Purchase ID,Total_Players,Age,Gender,Item ID,Item Name,Price,Player Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,,21,,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,,24,,50,Dawn,4.60,20-24

In [ ]:
#Calculate the numbers and percentages by age group
#calculate the number of players in each age group
player_age_df = playerdata_df.groupby(["Player Group"])
age_group = player_age_df["Player Group"].count()
age_group

In [ ]:
#calculate the percet of players in each age group
age_percent = ((age_group)/(tp_count)*100).map("{:,.2f}%".format)
age_percent

In [ ]:
#Create & Display summary age demographics data frame to hold the results

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#Establish bins for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

playerdata_df["Player Group"] = pd.cut(playerdata_df["Age"], bins, labels=labels, include_lowest=True)
playerdata_df

,Purchase ID,Total_Players,Age,Gender,Item ID,Item Name,Price,Player Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,,21,,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,,24,,50,Dawn,4.60,20-24

In [21]:
#Age Purchase Count
age_purchase_df = playerdata_df.groupby(["Player Group"])
age_purchase_count = age_purchase_df["Purchase ID"].count()
age_purchase_count

Player Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [25]:
#Average Purchase Price
age_purchase_price = age_purchase_df["Price"].sum()
avgage_purchase_price = ((age_purchase_price)/(age_purchase_count)).map("${:,.2f}".format)
avgage_purchase_price

Player Group
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.79
dtype: object

In [29]:
#Total Purchase Value
age_val = age_purchase_df["Price"].sum()
total_age_val = age_val.map("${:,.2f}".format)
total_age_val

Player Group
<10         $77.13
10-14       $82.78
15-19      $412.89
20-24    $1,114.06
25-29      $293.00
30-34      $214.00
35-39      $147.67
40+         $16.71
Name: Price, dtype: object

In [ ]:
#Avg Total Purchase per Person

In [ ]:
#Create the summary dataframe

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
spender_df = purchase_data_df.rename(columns={"Total_Players": "SN"})
group_spender_df = spender_df.groupby(["SN"])
group_spender_df.tail()

#purchase_data_df.sort_values([""])

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [55]:
count_purcheses = group_spender_df["Purchase ID"].count()
count_purcheses.head(10)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Aelastirin39    2
Aelidru27       1
Aelin32         3
Aelly27         2
Aellynun67      1
Name: Purchase ID, dtype: int64

In [51]:
#Average Purchase Price
spender_price = group_spender_df["Price"].sum()
avg_spend_price = ((spender_price)/(count_purcheses)).map("${:,.2f}".format)
avg_spend_price.head(5)

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
dtype: object

In [56]:
#Total Purchase Value
spend_val = group_spender_df["Price"].sum()
total_spend_val = spend_val.map("${:,.2f}".format)
total_spend_val.head(10)

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
Aelastirin39    $7.29
Aelidru27       $1.09
Aelin32         $8.98
Aelly27         $6.79
Aellynun67      $3.74
Name: Price, dtype: object

In [57]:
#Create Dataframe
spender_analysis_df = pd.DataFrame({
    "Purchase Count":[count_purcheses],
    "Average Purchase Price":[avg_spend_price], 
    "Number of Purchases":[purchases], 
    "Total Purchase Value":[total_spend_val]})


spender_analysis_df.sort_values(["Purchase Count"], ascending=False)
spender_analysis_df

,Purchase Count,Average Purchase Price,Number of Purchases,Total Purchase Value
0,SN Adairialis76 1 Adastirin33 1 Aeda9...,SN Adairialis76 $2.28 Adastirin33 $4....,780,SN Adairialis76 $2.28 Adastirin33 $4....

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
popularity_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
item_pop_df = popularity_df.groupby(["Item ID", "Item Name"])
item_pop_df.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [63]:
pop_count = item_pop_df["Item ID"].count()
pop_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

In [64]:
#Average Item Price
pop_price = item_pop_df["Price"].sum()
avg_pop_price = ((pop_price)/(pop_count)).map("${:,.2f}".format)
avg_pop_price.head(5)

Item ID  Item Name
0        Splinter              $1.28
1        Crucifer              $2.94
2        Verdict               $2.48
3        Phantomlight          $2.49
4        Bloodlord's Fetish    $1.70
dtype: object

In [65]:
#Total Purchase Value
pop_val = item_pop_df["Price"].sum()
total_pop_val = pop_val.map("${:,.2f}".format)
total_pop_val.head()

Item ID  Item Name
0        Splinter               $5.12
1        Crucifer              $11.77
2        Verdict               $14.88
3        Phantomlight          $14.94
4        Bloodlord's Fetish     $8.50
Name: Price, dtype: object

In [ ]:
#Create Database
Popularity_Rank_df =  pd.DataFrame({
    "Purchase Count":[count_purcheses],
    "Item Price":[avg_pop_price], 
    "Total Purchase Value":[total_pop_val]})


Popularity_Rank_df.sort_values(["Purchase Count"], ascending=False)
Popularity_Rank_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame