In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# convert to database and look at data
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Rename the SN column to Total Players and identify the total number of unique players
playerdata_df = purchase_data_df.rename(columns={"SN": "Total_Players"})
Total_Players = playerdata_df.groupby("Total_Players")["Total_Players"].nunique()
Total_Players.count()

#Create variable to store the count of total players
tp_count = Total_Players.count()

In [4]:
#Create a new data frame referencing the total number of unique players and display result
total_players_df = pd.DataFrame({
    "Total Players":[Total_Players.count()]})
total_players_df

   Total Players
0            576

In [5]:
#Identify the number of unique Item IDs in the data set
unique_items = purchase_data_df.groupby("Item ID")["Item ID"].nunique()
unique = unique_items.count()

#Calculate the total number of purchases
purchases = purchase_data_df["Purchase ID"].count()

#Calculate the total revenue
total_revenue = purchase_data_df["Price"].sum()

# Calculate the average price of the items from the total revenue and number of purchase
average_price = ((total_revenue)/(purchases))

In [6]:
#Create a new dictionary with purchasing analysis and display purchase analysis result
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[unique],
    "Average Price":[average_price], 
    "Number of Purchases":[purchases], 
    "Total Revenue":[total_revenue]})

#Clean the formatting of the Purchasing Analysis Dataframe and display result
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [7]:
#Clean data so that only unique players are present dropping duplicates in SN column 
gender_demo_df = purchase_data_df.drop_duplicates(subset ="SN", keep ='first', inplace =False)
gender_demo_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [8]:
#New data frame to be used to establish gender demographic information
new_gender_demo_df = gender_demo_df[["Gender", "Price"]]

#Filter data by gender to find count of male/female/other players
Male = new_gender_demo_df.loc[new_gender_demo_df["Gender"] == "Male"]
Male_Total = Male.count()["Gender"]

Female = new_gender_demo_df.loc[new_gender_demo_df["Gender"] == "Female"]
Female_Total = Female.count()["Gender"]

Other = new_gender_demo_df.loc[new_gender_demo_df["Gender"] == "Other / Non-Disclosed"]
Other_Total = Other.count()["Gender"]
Other_Total

Gender = Male_Total + Female_Total + Other_Total

In [9]:
#Find the percent values for each gender
male_percent = ((Male_Total)/(Gender)*100)
female_percent = ((Female_Total)/(Gender)*100)
other_percent = ((Other_Total)/(Gender)*100)

In [10]:
#create new variable for gender count
gcount = new_gender_demo_df["Gender"].value_counts()

In [11]:
#Create Gender Analysis Dataframe to reflect results
gender_analysis_df = pd.DataFrame({
    "" : ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count":[Male_Total, Female_Total, Other_Total],
    "Percentage of Players":[male_percent, female_percent, other_percent]})

gender_analysis_df["Percentage of Players"]=gender_analysis_df["Percentage of Players"].map("{:,.2f}%".format)
gender_analysis_df

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [12]:
#Find the Purchase Count
purchase_df = purchase_data_df.groupby(["Gender"])
purchase_count = purchase_df["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [13]:
#Find the Average Purchase Price
purchase_price = purchase_df["Price"].sum()
avg_purchase_price = ((purchase_price)/(purchase_count))
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [14]:
#Find the Total Purchase Value
purchase_value = purchase_df["Price"].sum()
total_purchase_value = purchase_value
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
#Find purchase per person
avg_pp = purchase_value / gcount
avg_pp

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
#Construct Database reflecting Purchase Analysis based on Gender
Purchase_Analysis_Gender = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average Purchase Price":avg_purchase_price,
    "Total Purchase Value":total_purchase_value,
    "Avg Total Purchase per Person": avg_pp})

Purchase_Analysis_Gender["Avg Total Purchase per Person"]=Purchase_Analysis_Gender["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchase_Analysis_Gender["Average Purchase Price"]=Purchase_Analysis_Gender["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Analysis_Gender["Total Purchase Value"]=Purchase_Analysis_Gender["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analysis_Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [17]:
#Create new database from which to perform analysis on player age demographics
age_demo_df = purchase_data_df.drop_duplicates(subset ="SN", keep ='first', inplace =False)
age_demo_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [18]:
#Establish bins for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_demo_df["Age Ranges"] = pd.cut(age_demo_df["Age"], bins, labels=labels, include_lowest=True)
age_demo_df

<ipython-input-18-04ba7def75eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_demo_df["Age Ranges"] = pd.cut(age_demo_df["Age"], bins, labels=labels, include_lowest=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [19]:
#Calculate the number of players in each age group
player_age_df = age_demo_df.groupby(["Age Ranges"])
age_group = player_age_df["Age Ranges"].count()
age_group

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+        5
Name: Age Ranges, dtype: int64

In [20]:
#calculate the percet of players in each age group
age_percent = ((age_group)/(tp_count)*100)
age_percent

Age Ranges
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       0.868056
Name: Age Ranges, dtype: float64

In [21]:
#Create & Display summary age demographics data frame to hold the results
Player_Analysis = pd.DataFrame({
    "Total Count" : age_group,
    "Percentage of Players":age_percent})

Player_Analysis["Percentage of Players"]=Player_Analysis["Percentage of Players"].map("{:,.2f}%".format)

Player_Analysis

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                   5                 0.87%

In [22]:
#Establish bins for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=labels, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [23]:
#Age Purchase Count
age_purchase_df = purchase_data_df.groupby(["Age Ranges"])
age_purchase_count = age_purchase_df["Purchase ID"].count()
age_purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [24]:
#Average Purchase Price
age_purchase_price = age_purchase_df["Price"].sum()
avgage_purchase_price = ((age_purchase_price)/(age_purchase_count))
avgage_purchase_price

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
dtype: float64

In [26]:
#Total Purchase Value
age_val = age_purchase_df["Price"].sum()
total_age_val = age_val
total_age_val

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [27]:
#Avg Total Purchase per Person
avg_purch_pp = age_val / age_group
avg_purch_pp

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.342000
dtype: float64

In [28]:
#Create the summary dataframe for Player Analysis Data
Player_Analysis = pd.DataFrame({
    "Purchase Count" : age_purchase_count,
    "Average Purchase Price":avgage_purchase_price,
    "Total Purchase Value" :total_age_val,
    "Avg Total Purchase per Person" :avg_purch_pp})

#Cleanup formatting on final column in dataframe
Player_Analysis["Average Purchase Price"]=Player_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Player_Analysis["Total Purchase Value"]=Player_Analysis["Total Purchase Value"].map("${:,.2f}".format)
Player_Analysis["Avg Total Purchase per Person"]=Player_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
Player_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,6,$2.79,$16.71,$3.34

## Top Spenders

In [29]:
spender_df = purchase_data_df.rename(columns={"Total_Players": "SN"})
group_spender_df = spender_df.groupby(["SN"])
group_spender_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [30]:
count_purchases = group_spender_df["Purchase ID"].count()
count_purchases.head(10)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Aelastirin39    2
Aelidru27       1
Aelin32         3
Aelly27         2
Aellynun67      1
Name: Purchase ID, dtype: int64

In [31]:
#Average Purchase Price
spender_price = group_spender_df["Price"].sum()
avg_spend_price = ((spender_price)/(count_purchases))
avg_spend_price.head(10)

SN
Adairialis76    2.280000
Adastirin33     4.480000
Aeda94          4.910000
Aela59          4.320000
Aelaria33       1.790000
Aelastirin39    3.645000
Aelidru27       1.090000
Aelin32         2.993333
Aelly27         3.395000
Aellynun67      3.740000
dtype: float64

In [32]:
#Total Purchase Value
spend_val = group_spender_df["Price"].sum()
total_spend_val = spend_val
total_spend_val.head(10)

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
Aelidru27       1.09
Aelin32         8.98
Aelly27         6.79
Aellynun67      3.74
Name: Price, dtype: float64

In [33]:
#Create Dataframe to reflect spender analysis
spender_analysis_df = pd.DataFrame({
    "Purchase Count":count_purchases,
    "Average Purchase Price":avg_spend_price,
    "Total Purchase Value":total_spend_val})

#Sort the data in descending order reflecting highest purchase counts first
spender_analysis_df=spender_analysis_df.sort_values(["Total Purchase Value"], ascending=False)

#Clean the formatting in the total purchase value column
spender_analysis_df["Average Purchase Price"]=spender_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
spender_analysis_df["Total Purchase Value"]=spender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
spender_analysis_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [34]:
popularity_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
item_pop_df = popularity_df.groupby(["Item ID", "Item Name"])
item_pop_df.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [46]:
pop_count = item_pop_df["Price"].count()
pop_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [47]:
#Average Item Price
pop_price = item_pop_df["Price"].sum()
avg_pop_price = ((pop_price)/(pop_count))
avg_pop_price.head()

Item ID  Item Name
0        Splinter              1.2800
1        Crucifer              2.9425
2        Verdict               2.4800
3        Phantomlight          2.4900
4        Bloodlord's Fetish    1.7000
Name: Price, dtype: float64

In [48]:
#Total Purchase Value
pop_val = item_pop_df["Price"].sum()
total_pop_val = pop_val
total_pop_val.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [49]:
#Create Dataframe to reflect popularity results
Popularity_Rank_df =  pd.DataFrame({
    "Purchase Count":pop_count,
    "Item Price":avg_pop_price, 
    "Total Purchase Value":total_pop_val})

#Sort popularity from most popular to least
Popularity_Rank_df=Popularity_Rank_df.sort_values(["Purchase Count"], ascending=False)

#Clean the formatting
Popularity_Rank_df["Total Purchase Value"]=Popularity_Rank_df["Total Purchase Value"].map("${:,.2f}".format)
Popularity_Rank_df["Item Price"]=Popularity_Rank_df["Item Price"].map("${:,.2f}".format)

Popularity_Rank_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [53]:
#Create a dataframe display that reflects the profitability of products in decending order
Profitablity_df = pd.DataFrame({
    "Purchase Count":pop_count,
    "Item Price":avg_pop_price, 
    "Total Purchase Value":total_pop_val})

#Sort popularity from most popular to least
Profitablity_df=Profitablity_df.sort_values(["Total Purchase Value"], ascending=False)

#Clean the formatting
Profitablity_df["Total Purchase Value"]=Profitablity_df["Total Purchase Value"].map("${:,.2f}".format)
Profitablity_df["Item Price"]=Profitablity_df["Item Price"].map("${:,.2f}".format)


Profitablity_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80